html(ng-app = "mhsApp")
head

    link(href='../../bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='../../www-build/assets/stylesheets/main.css', rel='stylesheet')

    script(src="../../bower_components/angular/angular.js")
    script(src="../../bower_components/angular-route/angular-route.js")
    script(src="../../bower_components/jquery/dist/jquery.min.js")
    script(src="../../bower_components/bootstrap/dist/js/bootstrap.js")
    //script(src="bower_componets/ui-bootstrap/.js")

    script(src="../assets/scripts/mhsApp.js")

body(ng-controller="mhsMainCtrl")    
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header.col-md-12
                a.navbar-brand.col-md-2(href='#') Project name
                div.col-md-3
                button.btn.btn-success.col-md-2.max-height Home         
                button.btn.btn-success.col-md-2  Page 2         
                button.btn.btn-success.col-md-2  Page 3        
                //- #navbar.navbar-collapse.collapse
                //-     form.navbar-form.navbar-right
                //-     .form-group
                //-         input.form-control(type='text', placeholder='Email')
                //-         |             
                //-     .form-group
                //-         input.form-control(type='password', placeholder='Password')
                //-         |             
                //-     button.btn.btn-success(type='submit') Sign in
    // /.navbar-collapse





    //div(ng-view="")